.TopDiv{
    width:100%;
    border:1px solid #ccc;
    box-shadow : 2px 2px 4px #ccc;
    display: flex;
    align-items: center;
    justify-content: center;
}
.Menu{
    text-decoration: none;
    text-transform: capitalize;
    font-size: 13px;
    margin: 12px;
    letter-spacing: 1px;
}
